<nav class="nav">
  <button class="burger"><i class="fa-solid fa-bars"></i></button>
<div class="side-menu" id="sideMenu">
  <button class="close-btn" id="closeBtn">x</button>
  <ul>
    <li><a href="#">Events</a></li>
    <li><a href="#">Tilmeld dig her</a></li>
    <li><a href="#">Kbh guide</a></li>
    <li><a href="#">Om os</a></li>
    <li><a href="#">KONTAKT</a></li>
    <li><a href=#>VORES SOCIALE MEDIER</a></li>
  </ul>
</div>

   <a class="logo" href="/">
    <img src=/img/logo.png" alt="Logo" />
  </a>

   
    <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
  

</nav>

<script>
  const menuBtn = document.querySelector('.burger');
  const sideMenu = document.getElementById('sideMenu');
  const closeBtn = document.getElementById('closeBtn');

  menuBtn.addEventListener('click', () => {
    sideMenu.classList.add('open');
  });

  closeBtn.addEventListener('click', () => {
    sideMenu.classList.remove('open');
  });
</script>

<style>
  .nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 100px;
  padding: 0 16px;
  background: #E2DDD6;
  border-bottom: 1px solid #ccc;
}

.burger{
font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  justify-self: start;
  font-size: 25px;
  margin-left: 10px;
}

/****** selve når man trykke på burgermenuen *******/
.side-menu {
  position: fixed;
  top: 0;
  left: -250px;         /* starter udenfor skærmen */
  width: 250px;
  height: 100%;
  background: #E2DDD6;  /* samme farve som navbar */
  padding: 40px 20px;
  transition: left 0.3s ease;
  z-index: 1000;
}

/* Når menuen er åben */
.side-menu.open {
  left: 0;
}

/* Luk-knap */
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Links i menuen */
.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 60px 0 0 0;
}
.side-menu ul li {
  margin-bottom: 20px;
}
.side-menu ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #222;
}




/*******/


.logo{
  justify-self: center;
}

.logo img{
  height: 40px;
}

.search{
  justify-self: end;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  margin-right: 10px;
}
</style>



