---
import PageLayout from "../../layouts/PageLayout.astro";
import Card from "./components/Card.astro";
import Footer from "./components/Footer.astro";
---

<PageLayout title="Creative Escape Forside">
  <header>
    <Card img="/img/forside_billede.webp" tag="Creative Escape" text="Velkommen til Creative Escape - dit kreative fælleskab i København">
      <button class="button">Se vores udflugter</button>
    </Card>
  </header>

  <section class="lyserød_baggrund">
    <h3>Artikler</h3>
    <h1>Deltag i et af vores ugentlig eller månedlig events</h1>
    <div class="grid_1_1f_1_2fr">
      <div class="flex_one_column">
        <Card variant="featured" img="/img/forside_2.webp" tag="Lokal CRTV" text="Kom med på speeddating, mød nye mennesker og del dine kreative idéer." />
        <Card variant="featured" img="/img/forside_3.webp" tag="Lokal CRTV" text="Tag kaffen med og deltag i vores walk and talk rundt om søerne, hver søndag kl. 10" />
        <Card variant="featured" img="/img/forside_4.webp" tag="Lokal CRTV" text="Gør dig klar til vores næste månedlige yoga-event på Soho House, en opløftende pause (.." />
      </div>
    </div>
  </section>

  <div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d72000.66320139547!2d12.511423973396331!3d55.67123975582436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652533c5c803d23%3A0x4dd7edde69467b8!2sK%C3%B8benhavn!5e0!3m2!1sda!2sdk!4v1757821674444!5m2!1sda!2sdk" 
   style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <Footer>
</PageLayout>
